
@media only screen {
* {
  margin: 0;
}

body{
  font-family: Helvetica;
  font-size: 14pt;
  background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

p {
  padding: 20px;
}

#headwrapper{
  width: 100%;
  background-color: white;

}


header > h1{
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: black;
  font-size: 30pt;
  font-family: Courier, Verdana, serif;
  font-weight: normal;
  margin: auto;
}

.focus {
 color: #00c9fd;
 text-decoration: none;
}

#contact a:hover{
  color: black;
}

article > ul > li {
  font-size: 12pt;
  font-family: Courier;
  padding-bottom: 10px;
}

nav{
  width: 900px;
  margin: auto;
  text-align: right;
}

nav > a{
  font-family: Courier, Verdana, serif;
  font-size: 10pt;
  color: black;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

nav > a:hover{
  background-color: #00c9fd;
}

main{
  width: 1200px;
  position: center;
  margin: auto;
}

#refresh:hover{
  background-color: #dac400
}

article > img{
  float: right;
  margin: 20px;
}

.newdiv > p {
  text-align: center;
  font-family: Courier;
  font-weight: bold;
  color: #bb3d00;
  font-style: oblique;

}

.bigleft{
 width: 820px;
 margin-right: 10px;
 float: right;
}

.lastarticle img {
}

.smallright{
width: 290px;
margin-left: 10px;
float: left;
}

.lastarticle{
  clear: right;
  margin-left: 370px;
  width: 820px;
  height: 487px;
  padding: 20px;
}

.lastarticle{
  text-align: center;
}

article > p > a {
  font-weight: bold;
  color: purple;
  text-decoration: none;
}

article > p > a:hover {
    font-size: 105%;
    color: black;
}

#bigimage {
  height: 550px;
  width: 100%;
  background-image:url(http://i68.tinypic.com/2hnas8h.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#bigimage > p{
  color: #00c9fd;
  background-color: #ffffff;
  font-size: 12pt;
  width: 350px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

article, #contact{
background-color: #cccccc;
}

article{
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

article > h1{
  text-align: center;
  padding: 10px;
  font-family: 'Karla', sans-serif;
  font-size: 25pt;
}

footer, #contact{
  background-color: #cccccc;
  width: 100%;
}
@media only screen {
#contact > table{
  margin: 20px 0px 0px 500px;
  padding: 20px;
  font-family: Impact, sans-serif, Verdana;
  font-size: 14pt;
  text-align: center;
  width: 200px;
  border-style: solid;
  }
}
@media only screen{

#contact img{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
}

footer{
  position: center;
}

footer > p {
  color: black;
  font-size: 12px;
  height: 150px;
  width: 860px;
  float: right;
}
}
